
<div class="content">
  <h1 class="home_title">Welcome to Robot World!</h1>
  <ul>
    <li><a href="/robots">Roster of Robots</a></li>
    <li><a href="/robots/new">New Robot</a></li>
  </ul>
  <div class="metrics">
    <h2>Robot Metrics</h2>
    <section class="mdl-card">
      <h4 class="mdl-card__title-text">Average Robot Age</h4>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          <p class="data"><%= @average_age %></p>
        </a>
      </div>
    </section>
    <section class="mdl-card">
      <h4 class="mdl-card__title-text">Robots Hired per Year</h4>
      <div class="mdl-card__actions mdl-card--border">
          <% @hired_per_year.each do |key, value| %>
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                <p><%= key %>: <%= value %></p>
              </a><br>
          <% end %>
      </div>
    </section>
    <section class="mdl-card">
    <h4 class="mdl-card__title-text">Robots Hired per Department</h4>
    <table class="per_department">
      <% @hired_per_department.each do |key, value| %>
          <tr>
            <th><%= key %></th>
            <td><%= value %></td>
          </tr>
      <% end %>
    </table>
    </section>
    <section class="column_two">
    <section class="mdl-card">
    <h4 class="mdl-card__title-text">Robots Hired per City</h4>
    <table class="per_city">
      <% @hired_per_city.each do |key, value| %>
          <tr>
            <th><%= key %></th>
            <td><%= value %></td>
          </tr>
      <% end %>
    </table>
    </section>
    <section class="mdl-card">
    <h4 class="mdl-card__title-text">Robots Hired per State</h4>
    <table class="per_state">
      <% @hired_per_state.each do |key, value| %>
          <tr>
            <th><%= key %></th>
            <td><%= value %></td>
          </tr>
      <% end %>
    </table>
    </section>
    </section>
  </div>
</div>